.container {
    padding-left: 50px;
    padding-right: 50px;
}
body {
    padding-top: 70px;
    color: #fff;
    font-family: monospace;
    font-size: 15px;
    /*background-color: #5c5c5c;*/
    background-color:  #201E1D;
}
h1 {
    font-family: cursive;
}
h2 {
    font-family: cursive;
    color: #f4a460;
}
a {
    color: #c5eff7;
}
.navbar-default {
    /* background-color:#c5eff7;*/
    
    color: #fff;
    background-color: #f4a460;
}
/*
.dropdown-toggle:active .open .dropdown-toggle{
  color: #fff !important; 
    background-color: #f4a460 !important; 
}*/

.row {
    padding-top: 30px;
    padding-bottom: 15px;
}
.tab-pane {
    height: 190px;
    padding-top: 20px;
}
.labelAlign {
    padding-left: 5px;
}