/*
CSS Naming conventions
http://bdavidxyz.com/blog/how-to-name-css-classes/
https://en.bem.info/methodology/
*/

.wrapper {
  background: #eee;
  margin: 10% auto;
  padding: 10px;
}

.weather-box {
  float: left;
  background: #000;
  color: #fff;
  padding: 2%;
  margin: 1%;
  border-radius: 20px;
}

.wrapper:after {
  display: block;
  content: "";
  clear: both;
}


.temperature {
  background: green;
  color: white;
  display: inline-block;
  border-radius: 20px;
}

