/*
CSS Naming conventions
http://bdavidxyz.com/blog/how-to-name-css-classes/
https://en.bem.info/methodology/
*/

.wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    height: 70%;
    width: 70%;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
}
.weather-box {
    background: #f46241;
    color: #000;
    margin: 15%;
    padding: 2%;
    display: inline-block;
    border-radius: 5px;
    opacity: 0.75;
}
.paragraphify {
    font-family: cursive;
    font-weight: bolder;
}
.headerify {
    font-family: serif;
    font-style: italic;
    color: #fff;
}
body {
    background-image: url('../img/clear-day.jpg');
}
@media all and (min-width: 960px) {
    .paragraphify {
        font-size: 25px;
    }
    .headerify {
        font-size: 30px;
    }
}
@media all and (max-width: 959px) and (min-width: 600px) {
    .paragraphify {
        font-size: 23px;
    }
    .headerify {
        font-size: 28px;
    }
}
@media all and (max-width: 599px) and (min-width: 320px) {
    .paragraphify {
        font-size: 21px;
    }
    .headerify {
        font-size: 26px;
    }
}