.custom-body {
  background-image: url("../img/PaintSwatches_1400x900.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
}

.centered {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background: #2B303A;
  color: #fff;
  font-family: cursive;
  font-size: 2.5vmax;
  padding: 15px;
  text-align: center;
  box-shadow: 21px 10px 39px 0px rgba(0,0,0,0.75);
  display: inline-block; /*For the content to be inside of Div*/
  border-radius: 25px;
}

.author {
  font-family: serif;
}

#newQuoteBtn, #twitterBtn, #fbBtn {
  margin-top: 15px;
  margin-bottom: 10px;
  background-color:#B5B3B4;
  color: #000;
}

/*
Few other colors for background of box
#930300
#B0990A
#0390AD
#333640
#2B303A

For buttons
#B5B3B4 background





