.custom-body {
  background-color: chocolate;
  transition: background-color 1s ease;
}

.centered {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background: chocolate;
  color: #fff;
  font-family: cursive;
  font-size: 2.5vmax;
  padding: 15px;
  text-align: center;
  box-shadow: 3px 3px 53px 18px rgba(0,0,0,0.75);
  display: inline-block; /*For the content to be inside of Div*/
  border-radius: 25px;
  transition: background-color 1.5s ease;
  opacity: 1 !important;
}

.author {
  font-family: serif;
}

#getNewQuoteBtn, #twitterBtn, #fbBtn {
  margin-top: 15px;
  margin-bottom: 10px;
  /*background-color:#B5B3B4;*/
  color: #000;
  background-color: #fff;
}

/*
Few other colors for background of box
#930300
#B0990A
#0390AD
#333640
#2B303A

For buttons
#B5B3B4 background





